<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="PALM3ConnectionString" connectionString="Data Source=192.168.1.132;Initial Catalog=PALM3;Persist Security Info=True;User ID=SA;Password=2016NBcc!"
      providerName="System.Data.SqlClient" />
    <add name="PALM3ConnectionString2" connectionString="Data Source=MCFAWN;Initial Catalog=PALM3;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=MCFAWN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>